@page
@model NutritionTrackerRazorPages.Pages.FoodItems.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FoodItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FoodItem.Id" />
            <div class="form-group">
                <label asp-for="FoodItem.Name" class="control-label"></label>
                <input asp-for="FoodItem.Name" class="form-control" />
                <span asp-validation-for="FoodItem.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FoodItem.FoodCategoryId" class="control-label"></label>
                                
                <select asp-for="FoodItem.FoodCategoryId" class="form-control" asp-items="@Model.FoodCategorySelectList">
                    <option value="">
                        -- Select Food Category --
                    </option>
                </select>

                <span asp-validation-for="FoodItem.FoodCategoryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FoodItem.ServingSize" class="control-label"></label>
                <input asp-for="FoodItem.ServingSize" class="form-control" />
                <span asp-validation-for="FoodItem.ServingSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodItem.Calories" class="control-label"></label>
                <input asp-for="FoodItem.Calories" class="form-control" />
                <span asp-validation-for="FoodItem.Calories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodItem.Fat" class="control-label"></label>
                <input asp-for="FoodItem.Fat" class="form-control" />
                <span asp-validation-for="FoodItem.Fat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
